In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
.master("local")\
.appName("test")\
.getOrCreate()

data=[
('James','','Smith','1991-04-01','M',3000),
('Michael','Rose','','2000-05-19','M',4000),
('Robert','','Williams','1978-09-05','M',4000),
('Maria','Anne','Jones','1978-09-05','F',4000),
('Jen','Marv','Brown',' 1980-02â€”17','F',-1)
]

columns= ["firstname", "middlename", "lastname", "dob", "gender", "salary"]
df =spark.createDataFrame(data=data, schema=columns)
print(df.printSchema())

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

None